.card {
    display: flex;
    border: solid;
    border-radius: 5px;
}

.statusRed {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(255, 41, 95);
    border-right: solid;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-size: 50px;
    text-shadow: 0 0 3px #000;
    transition: 0.3s;
}

.statusRed:hover {
    background-color: rgb(255, 130, 161);
}

.statusGreen {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: green;
    border-right: solid;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-size: 50px;
    text-shadow: 0 0 3px #000;
    transition: 0.3s;
}

.statusGreen:hover {
    background-color: rgb(72, 197, 72);
}

.status:hover {
   border: 5px solid; 
}

.content {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.id {

}

.title {
    padding-left: 10px;
    padding-right: 10px;
}

.remove {
    display: flex;
    align-items: center;
}

.remove button {
    background-color: rgb(102, 2, 2);
}