.card {
    display: flex;
    border: solid;
    border-radius: 5px;
}

.status {
    display: flex;
    align-items: center;
    background: rgb(255, 41, 95);
    border-right: solid;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.status i {
    color: white;
    font-size: 50px;
    text-shadow: 0 0 3px #000;
}

.content {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.id {

}

.title {
    padding-left: 10px;
    padding-right: 10px;
}

.remove {
    display: flex;
    align-items: center;
}

.remove button {
    background-color: rgb(102, 2, 2);
}